<div class="container">
  <i class="fa-solid fa-bars"></i>
</div>


<style>
  .container {
    color: var(--colors-white);
    @media (width >= 768px) {
      position: absolute;
      visibility: hidden;
    }
  }
  i {
    cursor: pointer;
  }
</style>