---
import Logo from "./Logo.astro";
import NavbarOption from "./NavbarOption.astro";
import Hamburger from "./Hamburger.astro";
---

<section>
  <Logo />
  <div class="container">
    <div class="navbar">
      <NavbarOption href="/" text="home" />
      <NavbarOption href="/blog" text="blog" />
      <NavbarOption href="/about" text="about" />
      <NavbarOption href="/projects" text="projects" />
    </div>
    <Hamburger />
   </div>
</section>

<style>
  section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    @media (width < 768px) {
      margin: 0 20px;
    }
  }
  .container {
    align-items: center;
    display:flex;
    justify-content: flex-end;
    height:100%;
    width:100%;
  }
  .navbar {
    @media (width < 768px) {
      position: absolute;
      visibility: hidden;
    }
  }
</style>