
<div class="container">
  <a href="https://github.com/decocco" target="_blank">
    <i id="github" class="fa-brands fa-github" />
  </a>
  <a href="https://www.instagram.com/de__cocco" target="_blank">
    <i id="instagram" class="fa-brands fa-instagram" />
  </a>
  <a href="https://www.linkedin.com/in/jeremy-galarce-urbina-96590114b/" target="_blank">
    <i id="linkedin" class="fa-brands fa-linkedin" />
  </a>
  <a href="mailto:jeremy.galarce.u@gmail.com" target="_blank">
    <i id="mail" class="fa-solid fa-envelope" />
  </a>
</div>

<style>
  .container {
    color: var(--colors-gray1);
    display: flex;
    flex-direction: column;
    font-size: 40px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    width: 100%;
    

    @media (width < 768px) {
      font-size: 30px;
      flex-direction: row;
    }
  }
  a {
    align-content: center;
    align-self: center;
    color: inherit;
    height: 80px;
    text-decoration: none;
    width: 80px;
  }
  
  i {
    cursor: pointer;
    left: 0;
    position: relative;
    transition: color 500ms ease;
    top: 0;
    &#github:hover {
      color: var(--colors-black);
    }
    &#instagram:hover {
      color: var(--colors-instagram);
    }
    &#linkedin:hover {
      color: var(--colors-linkedin);
    }
    &#mail:hover {
      color: var(--colors-white);
    }
  }
</style>
